.todo-list-header {
  background-color: #f44336;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list-title {
  color: #fff;
}

.todo-list-new-item-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.todo-list-value {
  width: 100%;
  border: none;
}

.todo-list-add-button {
  background-color: #d9d9d9;
  width: 220px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.todo-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.todo-list-item {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  padding: 10px 30px;
  cursor: pointer;
}

.todo-list-remove-btn {
  margin-left: auto;
}

.todo-list-item-selected {
  background-color: #888;
  text-decoration: line-through;
  color: #fff;
}
